<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Pablo: Docker Compose</Title>
      <Shortcut>pablo-tpl-docker</Shortcut>
      <Description>Docker Compose deploy via git sync over SSH</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="yaml"><![CDATA[name: "$1"
version: "2.0.0"

credentials:
  $2:
    type: ssh
    username: deploy
    key: "~/.ssh/id_rsa"

profiles:
  default:
    type: docker
    git:
      repo: "$3"
      branch: "main"
    environments:
      production:
        remote:
          host: "$4"
          credential: "$2"
        deploy:
          target_path: "$5"
          docker:
            compose_file: "docker-compose.yml"
            build: false
            stop_before_sync: true]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
