<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Pablo: Static Website Template</Title>
      <Shortcut>pablo-tpl-static</Shortcut>
      <Description>Ready-to-use template for Static Websites</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="yaml"><![CDATA[name: "$1"
version: "1.4.0"

profiles:
  production:
    type: static
    output_dir:
      dir: "$2"
      include: ["index.html", "assets/*", "*.css", "*.js"]
    environments:
      web-server:
        target_path: "$3"
        strategy: overwrite
        remote:
          method: ssh
          host: "$4"
          credential: "$5"]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
