<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Pablo: Git-Sync Template</Title>
      <Shortcut>pablo-tpl-gitsync</Shortcut>
      <Description>Ready-to-use template for Git repository synchronization</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="yaml"><![CDATA[name: "$1"
version: "1.4.0"

profiles:
  documentation:
    type: git-sync
    git:
      repo: "$2"
      branch: "$3"
    environments:
      internal-server:
        target_path: "$4"
        deploy:
          remote: tar
          strategy: overwrite]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
