<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Pablo: Node.js + PM2</Title>
      <Shortcut>pablo-tpl-node-pm2</Shortcut>
      <Description>Binary-style Node deploy with PM2 restart post_commands</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="yaml"><![CDATA[name: "$1"
version: "2.0.0"

credentials:
  $2:
    type: ssh
    username: deploy
    key: "~/.ssh/id_rsa"

profiles:
  api-server:
    type: binary
    build:
      command: "npm install && npm run build"
    environments:
      production:
        remote:
          host: "$3"
          credential: "$2"
        deploy:
          source:
            dir: "dist"
          target_path: "$4"
          strategy: backup
          post_commands:
            - "pm2 restart $1"]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
