<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>Pablo Config (Empty)</Title>
      <Shortcut>pablo-config</Shortcut>
      <Description>Basic Pablo configuration skeleton</Description>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="yaml"><![CDATA[name: "$1"
version: "1.4.0"
profiles:
  $2:
    type: $3
    environments:
      $4:
        target_path: "$5"]]></Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
